In [1]:
import os
import zipfile

import numpy as np
import pandas as pd
from pandas import DataFrame
from scipy.stats.mstats import winsorize

from Constant import Constants as const

# Load capital control data and add data from LDX's data file.

In [ ]:
ldy_use_columns = list()
dep_vars = ['roa', 'seo', 'csr总得分', 'csr盈利得分', 'csr股东责任', 'emp_respon', 'csr供应商、客户和消费者权益责任', 'csr环境责任', 'csr社会责任', 'companyopacity']
control_vars = ['roa', 'ppe1', 'ppe2', 'loss', 'duality', 'size', 'lev', 'longdetlev', 'intanr', 'fcf', 'mb', 'indep', 'bsize', 'soe', 'soe1', 'audbig', 'listage', 'firmage', 'growth', 'growth1', 'top1', 'tbq1', 'tbq2', 'tbq3', 'tbq4', 'b001100000', 'b001200000', 'b001000000', 'insinvestorprop', 'concurrentposition', 'incometaxtate', 'zscore', 'kz', 'a001000000', 'bm', 'fixedassets']
identifier_vars = ['indcodea', 'indcodeb', 'code', 'year', 'indcd', 'prci', 'city', 'city4']
rename_dict = {'b001100000': 'sales', 'b001200000': 'cost', 'b001000000': 'revenue', 'a001000000': 'totalassets', 'csr总得分': 'csr_score', 'csr盈利得分': 'csr_rev_score', 'csr股东责任': 'csr_shareholder', 'emp_respon': 'csr_emp', 'csr供应商、客户和消费者权益责任': 'csr_supplier_customer', 'csr环境责任': 'csr_env_score', 'csr社会责任': 'csr_social'}
ldy_use_columns.extend(dep_vars)
ldy_use_columns.extend(control_vars)
ldy_use_columns.extend(identifier_vars)

ldy_use_columns = list(set(ldy_use_columns))

In [ ]:
file_path = r'D:\Users\Dell\Downloads'
ldy_path = os.path.join(file_path, 'CSMAR_06-20.dta')
ldy_df: DataFrame = pd.read_stata(ldy_path, columns=ldy_use_columns).rename(columns=rename_dict)

In [ ]:
ldy_df.to_pickle(os.path.join(const.TEMP_PATH, '20240905_ldy_china_data.pkl'))

In [7]:
ldy_df: DataFrame = pd.read_pickle(os.path.join(const.TEMP_PATH, '20240905_ldy_china_data.pkl'))

In [8]:
ldy_df.groupby('year').count()

,zscore,ppe1,concurrentposition,city4,insinvestorprop,tbq3,ppe2,code,kz,csr_score,...,sales,csr_emp,csr_env_score,listage,revenue,cost,tbq4,top1,companyopacity,growth1
year,,,,,,,,,,,,,,,,,,,,,
2006.0,1393,1446,1308,1534,1454,1390,1533,1547,1185,0,...,1540,0,0,1457,1547,1547,1390,1454,1547,1363
2007.0,1460,1545,1490,1648,1564,1464,1635,1661,1203,0,...,1661,0,0,1571,1661,1661,1464,1571,1661,1444
2008.0,1559,1600,1565,1702,1616,1584,1691,1715,1355,0,...,1715,0,0,1625,1715,1715,1584,1625,1715,1569
2009.0,1648,1746,1734,1851,1756,1680,1835,1864,1423,0,...,1864,0,0,1774,1864,1864,1680,1774,1864,1605
2010.0,1982,2094,2094,2202,2118,2012,2183,2218,1499,2098,...,2218,2098,2098,2128,2218,2218,2012,2129,2218,1757
2011.0,2258,2328,2337,2438,2359,2287,2414,2452,1843,2340,...,2452,2340,2340,2366,2452,2452,2287,2363,2452,2111
2012.0,2422,2492,2478,2566,2488,2450,2580,2580,2169,2469,...,2580,2469,2469,2492,2580,2580,2450,2492,2580,2354
2013.0,2430,2543,2516,2611,2527,2429,2624,2624,2335,2514,...,2624,2514,2514,2543,2624,2624,2429,2535,2624,2487
2014.0,2512,2652,2621,2724,2646,2474,2739,2739,2270,2631,...,2739,2631,2631,2652,2739,2739,2474,2652,2739,2535
2015.0,2679,2842,2808,2910,2841,2654,2927,2927,2346,2822,...,2927,2822,2822,2842,2927,2927,2654,2842,2927,2644
2016.0,2925,3033,3088,3204,3124,2922,3167,3221,2586,3117,...,3221,3117,3117,3136,3221,3221,2922,3136,3221,2839
2017.0,3353,3385,3462,3581,3512,3343,3533,3598,2777,3491,...,3598,3491,3491,3512,3598,3598,3343,3512,3598,3135
2018.0,3498,3471,3540,3673,3604,3573,3613,3690,3305,3577,...,3688,3577,3577,3607,3690,3690,3573,3607,3690,3503
2019.0,3674,3669,3757,3874,3807,3761,3808,3893,3329,3720,...,3892,3720,3720,3814,3893,3893,3761,3814,3893,3594
2020.0,4043,4102,4182,4322,4252,4134,4254,4343,3425,4158,...,4343,4158,4158,4264,4343,4343,4134,4264,4343,3790

In [ ]:
ldy_df.companyopacity.replace({'C': 3, 'B': 2, 'A': 1, 'D': 4, '': np.nan}, inplace=True)

In [ ]:
ldy_df.rename(columns={'code': 'Symbol', 'year': 'Year'}, inplace=True)
dep_vars = ['roa', 'seo', 'csr_score', 'csr_rev_score', 'csr_shareholder', 'csr_emp', 'csr_supplier_customer', 'csr_env_score', 'csr_social', 'companyopacity']
control_vars = ['roa', 'ppe1', 'ppe2', 'loss', 'duality', 'size', 'lev', 'longdetlev', 'intanr', 'fcf', 'mb', 'indep', 'bsize', 'soe', 'soe1', 'audbig', 'listage', 'firmage', 'growth', 'growth1', 'top1', 'tbq1', 'tbq2', 'tbq3', 'tbq4', 'sales', 'cost', 'revenue', 'insinvestorprop', 'concurrentposition', 'incometaxtate', 'zscore', 'kz', 'totalassets', 'bm', 'fixedassets']
identifier_vars = ['indcodea', 'indcodeb', 'code', 'year', 'indcd', 'prci', 'city', 'city4']
ldy_df['companyopacity'] = ldy_df.companyopacity.replace({'C': 3, 'B': 2, 'A': 1, 'D': 4, '': np.nan})

In [13]:
ldy_df.describe()

,zscore,ppe1,concurrentposition,Year,city4,insinvestorprop,tbq3,ppe2,Symbol,kz,...,sales,csr_emp,csr_env_score,listage,revenue,cost,tbq4,top1,companyopacity,growth1
count,37836.000000,38948.000000,38980.000000,41072.000000,40840.000000,39668.000000,38157.000000,40536.000000,41072.000000,33050.000000,...,4.106200e+04,32937.000000,32937.000000,39783.000000,4.107200e+04,4.107200e+04,38157.000000,39770.000000,22503.000000,36730.000000
mean,6.516692,0.371384,0.262442,2014.312159,3508.336914,45.814915,4.309477,0.431181,310949.572361,0.606748,...,1.012458e+10,2.591008,1.396387,9.609406,1.124235e+09,9.189320e+09,4.582299,34.825549,2.030174,4.816307
std,362.948123,0.188788,0.439967,4.175722,1273.811035,24.337039,262.338766,0.216432,284214.839517,2.360656,...,6.817622e+10,3.013379,4.511068,7.183827,1.049696e+10,6.368248e+10,262.346803,15.364877,0.652777,707.146667
min,-11027.599410,0.000000,0.000000,2006.000000,1101.000000,0.000100,0.434752,0.000000,1.000000,-10.906232,...,-1.148569e+08,-0.160000,0.000000,-1.000000,-7.130188e+10,-5.320823e+08,0.445811,0.290000,1.000000,-1.309156
25%,1.696103,0.231581,0.000000,2011.000000,3101.000000,27.173825,1.354220,0.265134,2222.000000,-0.679577,...,6.457935e+08,0.790000,0.000000,3.000000,3.884733e+07,5.986932e+08,1.449513,22.905000,2.000000,-0.036273
50%,2.916333,0.359517,0.000000,2015.000000,3402.000000,47.886150,1.969714,0.416556,300274.000000,0.886243,...,1.586612e+09,1.580000,0.000000,9.000000,1.235197e+08,1.467593e+09,2.137253,32.510000,2.000000,0.103831
75%,5.231857,0.500105,1.000000,2018.000000,4403.000000,64.751425,3.104649,0.583437,600587.000000,2.145922,...,4.367033e+09,3.000000,0.000000,15.000000,3.882428e+08,4.068819e+09,3.402147,45.110000,2.000000,0.273084
max,69667.940400,0.994555,1.000000,2020.000000,6542.000000,113.711000,51077.911333,1.000000,900957.000000,10.983211,...,2.966193e+12,52.620000,30.000000,30.000000,3.921260e+11,2.886887e+12,51077.911333,100.000000,4.000000,134607.062500

In [14]:
for key in ['bsize', 'totalassets', 'firmage', 'fixedassets', 'listage']:
    ldy_df[f'ln_{key}'] = np.log(ldy_df[key] + 2)
    
ldy_df.sort_values(by=['Symbol', 'Year'], ascending=True, inplace=True)
ldy_df['lagged_at'] = ldy_df.groupby('Symbol')['totalassets'].shift(1)
ldy_df['sale_diff'] = ldy_df.groupby('Symbol')['sales'].diff(1)
ldy_df['sale_growth'] = ldy_df['sale_diff'] / ldy_df['lagged_at']
ldy_df['fix_at'] = ldy_df['fixedassets'] / ldy_df['lagged_at']
ldy_df['salecost_at'] = ldy_df['cost'] / ldy_df['lagged_at']
ldy_df['rev_at'] = ldy_df['revenue'] / ldy_df['lagged_at']

ldy_df.replace([np.inf, -np.inf], np.nan, inplace=True)

for key in ['zscore', 'tbq3', 'mb', 'incometaxtate', 'tbq2', 'roa', 'growth', 'tbq1', 'lev', 'tbq4', 'sale_growth', 'fix_at', 'salecost_at', 'rev_at']:
    ldy_df.loc[ldy_df[key].notnull(), key] = winsorize(ldy_df[key].dropna(), limits=(0.01, 0.01))

In [ ]:
reg_df: DataFrame = pd.read_stata(os.path.join(const.OUTPUT_PATH, '20240820_cc_reg_data.dta'))
set(reg_df.keys()).intersection(set(ldy_df.keys()))

In [16]:
reg_df2: DataFrame = reg_df.merge(ldy_df, on=['Symbol', 'Year'], how='left')
reg_df2.describe()

,Symbol,A001101000,A001212000,A001218000,A001000000,A002100000,A002206000,A002000000,A003000000,Year,...,ln_totalassets,ln_firmage,ln_fixedassets,ln_listage,lagged_at,sale_diff,sale_growth,fix_at,salecost_at,rev_at
count,24304.000000,2.164600e+04,2.152200e+04,2.035200e+04,2.182500e+04,2.136000e+04,1.327700e+04,2.182400e+04,2.182600e+04,24304.000000,...,17427.000000,17417.000000,17420.000000,17422.000000,1.616700e+04,1.616400e+04,16164.000000,16161.000000,16167.000000,16167.000000
mean,338126.076819,1.505885e+09,1.545366e+09,2.258678e+08,7.108142e+10,3.718831e+09,7.556416e+09,5.994291e+10,1.114075e+10,2018.633353,...,22.498434,3.011456,20.295939,2.262272,8.522459e+10,1.251460e+09,0.082429,0.219914,0.628147,0.053570
std,271049.589562,6.386944e+09,1.184517e+10,1.659539e+09,9.469772e+11,1.517006e+10,5.640271e+10,8.694914e+11,8.174469e+10,1.762369,...,1.592834,0.289104,1.930472,0.815019,9.504572e+11,1.560102e+10,0.238071,0.183234,0.528678,0.094621
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.700856e+07,0.000000e+00,-1.054666e+08,0.000000e+00,-3.101923e+10,2014.000000,...,16.412323,1.609438,8.145283,0.000000,1.700856e+07,-8.602090e+11,-0.478674,0.001499,0.027959,-0.283215
25%,2585.000000,1.121264e+08,3.242392e+07,7.335344e+06,1.670719e+09,2.659997e+08,2.804804e+07,3.413636e+08,1.092868e+09,2017.000000,...,21.409615,2.833213,19.191009,1.609438,1.949883e+09,-4.208511e+07,-0.012253,0.077154,0.314406,0.017199
50%,300736.000000,3.098553e+08,1.530405e+08,3.115412e+07,3.501899e+09,7.656680e+08,2.411507e+08,1.001363e+09,2.277140e+09,2019.000000,...,22.256740,3.044523,20.244670,2.397895,4.514531e+09,1.632671e+08,0.042334,0.177967,0.504289,0.047615
75%,600984.000000,8.400699e+08,4.534146e+08,9.001325e+07,8.863932e+09,2.276376e+09,1.195278e+09,3.244981e+09,5.150647e+09,2020.000000,...,23.297425,3.218876,21.417173,2.995732,1.244637e+10,7.596786e+08,0.129263,0.319578,0.773434,0.091226
max,688981.000000,1.598310e+11,4.523610e+11,6.888400e+10,3.343070e+13,4.128900e+11,1.461094e+12,3.029760e+13,3.133095e+12,2021.000000,...,31.137931,4.158883,27.319834,3.465736,3.010944e+13,5.309860e+11,1.629427,0.885056,3.621704,0.446247

In [17]:
dep_vars.extend(['Symbol', 'Year'])
ldy_dep_df = ldy_df[dep_vars].copy()

for year in range(1, 4):
    ldy_dep_df['Year'] -= 1
    reg_df2: DataFrame = reg_df2.merge(ldy_dep_df, on=['Symbol', 'Year'], how='left', suffixes=('', f'_{year}'))
    
reg_df2.to_pickle(os.path.join(const.TEMP_PATH, '202400906_cc_reg_data_with_ldy_df.pkl'))

# append some innovation related data

In [2]:
reg_df2: DataFrame = pd.read_pickle(os.path.join(const.TEMP_PATH, '202400906_cc_reg_data_with_ldy_df.pkl'))
with zipfile.ZipFile(os.path.join(const.CSMAR_PATH, '研发投入情况表.zip'), 'r') as zip_ref:
    with zip_ref.open('PT_LCRDSPENDING.csv') as csv_file:
        rd_spending_df: DataFrame = pd.read_csv(csv_file, usecols=['Symbol', 'EndDate', 'RDPerson', 'RDPersonRatio', 'RDSpendSum', 'RDSpendSumRatio', 'RDExpenses', 'RDInvest', 'RDInvestRatio', 'RDInvestNetprofitRatio'], dtype={'EndDate': 'str'})
        rd_spending_df['EndDate'] = pd.to_datetime(rd_spending_df['EndDate'], format='%Y-%m-%d', errors='coerce')
        rd_spending_df.dropna(subset=['EndDate', 'Symbol'], how='any', inplace=True)
        rd_spending_df['Symbol'] = rd_spending_df['Symbol'].astype(int)
        rd_spending_df['Year'] = rd_spending_df['EndDate'].dt.year
        for key in ['RDPerson', 'RDPersonRatio', 'RDSpendSum', 'RDSpendSumRatio', 'RDExpenses', 'RDInvest', 'RDInvestRatio', 'RDInvestNetprofitRatio']:
            rd_spending_df[key] = rd_spending_df[key].astype(np.float64)
        rd_spend_df1: DataFrame = rd_spending_df.groupby(['Symbol', 'Year'])[['RDPerson', 'RDSpendSum', 'RDExpenses', 'RDInvest']].sum()
        rd_spend_df2: DataFrame = rd_spending_df.groupby(['Symbol', 'Year'])[['RDPersonRatio', 'RDSpendSumRatio', 'RDInvestRatio', 'RDInvestNetprofitRatio']].mean()
        rd_spend_df: DataFrame = rd_spend_df1.merge(rd_spend_df2, left_index=True, right_index=True, how='outer').reset_index(drop=False)
        
        reg_df3: DataFrame = reg_df2.merge(rd_spend_df, on=['Symbol', 'Year'], how='left')
        reg_df3['RDSpend_at'] = reg_df3['RDSpendSum'] / reg_df3['lagged_at']
        reg_df3['RDExpenses_at'] = reg_df3['RDExpenses'] / reg_df3['lagged_at']
        reg_df3['RDInvest_at'] = reg_df3['RDInvest'] / reg_df3['lagged_at']
        
        reg_df3.replace([np.inf, -np.inf], np.nan, inplace=True)
        for key in ['RDSpend_at', 'RDExpenses_at', 'RDInvest_at']:
            reg_df3.loc[reg_df3[key].notnull(), key] = winsorize(reg_df3[key].dropna(), limits=(0.01, 0.01))
            
        for year in range(1, 4):
            rd_spend_df['Year'] -= 1
            reg_df3: DataFrame = reg_df3.merge(rd_spend_df, on=['Symbol', 'Year'], how='left', suffixes=('', f'_{year}'))
            for key in ['RDSpend_at', 'RDExpenses_at', 'RDInvest_at']:
                reg_df3[f'{key}_{year}'] = reg_df3.groupby('Symbol')[key].shift(year)
                
        for key in ['RDPerson', 'RDPersonRatio', 'RDSpendSum', 'RDSpendSumRatio', 'RDExpenses', 'RDInvest', 'RDInvestRatio', 'RDInvestNetprofitRatio', 'RDSpend_at', 'RDExpenses_at', 'RDInvest_at']:
            reg_df3[key] = reg_df3[key].fillna(0)
            for year in range(1, 4):
                reg_df3[f'{key}_{year}'] = reg_df3[f'{key}_{year}'].fillna(0)
reg_df3.to_pickle(os.path.join(const.TEMP_PATH, '202400906_cc_reg_data_with_rd.pkl'))

In [14]:
reg_df3: DataFrame = pd.read_pickle(os.path.join(const.TEMP_PATH, '202400906_cc_reg_data_with_rd.pkl'))
with zipfile.ZipFile(os.path.join(const.CSMAR_PATH, '政府补助.zip'), 'r') as zip_ref:
    with zip_ref.open('PT_LCGovGrants.csv') as csv_file:
        gov_grant_df: DataFrame = pd.read_csv(csv_file, on_bad_lines='skip', usecols=['Stkcd', 'Accper', 'Item', 'Amount']).rename(
            columns={'Stkcd': 'Symbol'})
        gov_grant_df = gov_grant_df[gov_grant_df['Item'] == '合计']
        gov_grant_df['Accper'] = pd.to_datetime(gov_grant_df['Accper'], format='%Y-%m-%d', errors='coerce')
        gov_grant_df['Year'] = gov_grant_df['Accper'].dt.year
        gov_grant_df['GovGrantAmount'] = gov_grant_df['Amount'].astype(float)
        gov_grant_df.dropna(subset=['GovGrantAmount'], inplace=True)
        gov_grant_df = gov_grant_df[gov_grant_df['GovGrantAmount'] > 0]
        gov_grant_df2: DataFrame = gov_grant_df.groupby(['Symbol', 'Year'])['GovGrantAmount'].sum().reset_index(drop=False)
        gov_grant_df2['lnGovGrantAmount'] = gov_grant_df2['GovGrantAmount'].apply(np.log)
        
        reg_df4: DataFrame = reg_df3.merge(gov_grant_df2, on=['Symbol', 'Year'], how='left')
        for year in range(1, 4):
            gov_grant_df2['Year'] -= 1
            reg_df4: DataFrame = reg_df4.merge(gov_grant_df2, on=['Symbol', 'Year'], how='left', suffixes=('', f'_{year}'))
reg_df4.to_pickle(os.path.join(const.TEMP_PATH, '202400906_cc_reg_data_with_gov.pkl'))

C:\Users\wangy\AppData\Local\Temp\ipykernel_21492\3764161882.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  gov_grant_df: DataFrame = pd.read_csv(csv_file, on_bad_lines='skip', usecols=['Stkcd', 'Accper', 'Item', 'Amount']).rename(

In [26]:
reg_df4.to_stata(os.path.join(const.OUTPUT_PATH, '20240906_cc_reg_data.dta'), write_index=False, version=119)

In [15]:
reg_df4: DataFrame = pd.read_pickle(os.path.join(const.TEMP_PATH, '202400906_cc_reg_data_with_gov.pkl'))
with zipfile.ZipFile(os.path.join(const.CSMAR_PATH, '国内外专利申请获得情况表.zip'), 'r') as zip_ref:
    with zip_ref.open('PT_LCDOMFORAPPLY.csv') as csv_file:
        patent_df: DataFrame = pd.read_csv(csv_file, on_bad_lines='skip')
        patent_df['EndDate'] = pd.to_datetime(patent_df['EndDate'], format='%Y-%m-%d', errors='coerce')
        patent_df_apply: DataFrame = patent_df[patent_df['ApplyTypeCode'] == 'S501'].copy()
        patent_df_grant: DataFrame = patent_df[patent_df['ApplyTypeCode'] == 'S501'].copy()

In [5]:
reg_df4[['city', 'indcodeb', 'indcodea', 'indcd', 'prci']]

NameError: name 'reg_df4' is not defined

# regenerate some variables

In [2]:
reg_df: DataFrame = pd.read_stata(os.path.join(const.OUTPUT_PATH, '20240906_cc_reg_data.dta'))
reg_df['has_er_gua']

,Symbol,A001101000,A001212000,A001218000,A001000000,A002100000,A002206000,A002000000,A003000000,Year,...,esg_gov_score_3,esg_risk_score_1,esg_risk_score_2,esg_risk_score_3,env_score_1,env_score_2,env_score_3,social_score_1,social_score_2,social_score_3
0,1,0.0,3.812000e+09,5.293000e+09,2.186459e+12,0.0,4.175000e+10,2.055510e+12,1.309490e+11,2014,...,19.000,31.500,31.500,31.500,16.875,17.125,17.625,15.250,15.250,15.000
1,1,0.0,4.788000e+09,4.961000e+09,2.507149e+12,0.0,2.129630e+11,2.345649e+12,1.615000e+11,2015,...,21.125,31.500,31.500,32.375,17.125,17.625,17.375,15.250,15.000,17.125
2,1,0.0,8.316000e+09,4.771000e+09,2.953434e+12,NaN,2.634640e+11,2.751263e+12,2.021710e+11,2016,...,24.250,31.500,32.375,31.375,17.625,17.375,17.500,15.000,17.125,19.250
3,1,NaN,8.036000e+09,4.701000e+09,3.248474e+12,NaN,3.424920e+11,3.026420e+12,2.220540e+11,2017,...,41.460,32.375,31.375,80.940,17.375,17.500,59.920,17.125,19.250,59.560
4,1,NaN,1.089900e+10,4.771000e+09,3.418592e+12,NaN,3.818840e+11,3.178550e+12,2.400420e+11,2018,...,43.750,31.375,80.940,75.940,17.500,59.920,59.920,19.250,59.560,54.410

In [6]:
key_list = 'esg_score_1 esg_gov_score_1 esg_risk_score_1 env_score_1 social_score_1 cgov_score_1 roa_1 seo_1 csr_score_1 csr_rev_score_1 csr_shareholder_1 csr_emp_1 csr_supplier_customer_1 csr_env_score_1 csr_social_1 companyopacity_1 RDPerson_1 RDPersonRatio_1 RDSpendSumRatio_1 RDInvestRatio_1 RDInvestNetprofitRatio_1 RDSpend_at_1 RDExpenses_at_1 RDInvest_at_1 GovGrantAmount_1 lnGovGrantAmount_1'.split(' ')
dep_key_list = ' '.join([i[:-2] for i in key_list])
print(dep_key_list)

esg_score esg_gov_score esg_risk_score env_score social_score cgov_score roa seo csr_score csr_rev_score csr_shareholder csr_emp csr_supplier_customer csr_env_score csr_social companyopacity RDPerson RDPersonRatio RDSpendSumRatio RDInvestRatio RDInvestNetprofitRatio RDSpend_at RDExpenses_at RDInvest_at GovGrantAmount lnGovGrantAmount